body {
  background-color: rgb(228, 222, 222);

}


.count {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

button {
  margin-right: 10px;
  font-size: 30px; 
  margin-bottom: 20px; 
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

.user {
  border: 1px solid darkcyan;
  padding: 20px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}