body {
  background-color: rgb(228, 222, 222);

}

.count {
  display: flex;
  gap: 150px;
  justify-content: center;
  align-items: center;
}

button {
  margin-right: 10px;
  font-size: 30px;  
}

h1 {
  text-align: center;
}